<html>
    <head>
        <style>
            body {
                font-family: Arial, sans-serif;
            }
            .poster {
                width: 600px;
                height: auto;
            }
        </style>
    </head>
    <body>
        <img src="https://github.com/20WH1A6637/DepartmentNewsletter/blob/main/Blue%20and%20Yellow%20Simple%20Bordered%20College%20Newsletter.png?raw=true" class="poster" alt="poster" >

        <h1>Weekly Report</h1>
        <p>This is your weekly report.</p>
        <p><a href="{{ unsubscribe_url }}">Unsubscribe</a></p>
    </body>
</html>
